# Python
*.pyc
*.pyo
*.pyd
__pycache__/
*.db
*.sqlite3

# Виртуальное окружение
venv/
.env

# Пакеты
*.egg-info/
dist/
build/

# Логи
*.log

# Миграции
*/migrations/*.py
*/migrations/*.pyc
*/migrations/__init__.py

# IDE и редакторы
.idea/
.vscode/
*.swp
*.swo

# Системные файлы
.DS_Store
Thumbs.db

# Другие временные файлы
*.bak
*.tmp

.sqlite3